#header {
  border: 5px, black;
}

#body{
  transform: translateY(1000px);
  border: 5px, black;
}

#image{

}
#js-output{
  border: 5px, black;
}

h1{
font-size: 80px;
}

h2{
font-size: 60px;
}

p{
font-size: 40px;
}

img{
width: 25%;
transform: translateX(1800px);
position: relative;
}

.container-lg-12{
  color: gold;
  text-align: center;
}
