h1 {
  font-family: ;
  font-style: bold;
  font-size: 60px;
  color: white;
  transform: translate(75px,10px);
}

p {
  font-family: monospace;
  font-size: 35px;
  color: white;
  transform: translate(50px,-10px);
}

#content{
  background-color: gray;
  height: 200px;
  border-style: solid;
}

#hellowworld {

}
